<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3>Hola amiguit@!.</h3>
                Este proyecto es un demo con funcionalidad CRUD de usuarios, medicos y hospitales. También proporciona edición del perfil del usuario conectado.
                <br>
                <ul class="list-group">
                    <li class="list-group-item">Tiene 2 roles: ROLE_ADMIN y ROLE_USER</li>
                    <li class="list-group-item">Unicamente el rol de admin puede editar usuarios</li>
                    <li class="list-group-item">Tiene autenticación normal y por google</li>
                    <li class="list-group-item">Front End : Angular 5 (Github pages)</li>
                    <li class="list-group-item">Back End : Express, Node JS, MongoDB (Heroku)</li>
                    <li class="list-group-item">Por la forma en que se programó la subida de archivos, éstos tendrán un corto periodo de existencia en server (Limitación de Heroku).</li>
                    <li class="list-group-item">Pendiente funcionalidad de consultas, pacientes y su seguimientos.</li>
                </ul>

            </div>
        </div>
    </div>
</div>